.Rproj.user
.Rhistory
.RData
.Ruserdata

data
archive
draft
*.sqlite
.Renviron
orderly_envir.yml
.Rdata
orderly_dev_script.R
src/process_movement_data/task_data/
src/produce_figures/figures/
src/produce_figures/*.rds
src/annotate_extracted_data/shapefiles/
src/invasion_maps/figures/
src/invasion_order_figures/figures/
ESA/